# Python temp files
**/__pycache__/

# Python Virtal Environment
.venv/

# Node packages
node_modules/

# Java documentation build tools
bin/plantuml.jar

# Temporary packaging files
dist/
lbutils_mp.egg-info/

# Editor files
*.kate-swp
*.swp
